<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>
    <div class="container">
            <form th:object="${booking}" action="/bookings/addSubmit" th:action="@{/bookings/addSubmit}" method="post" class="form-horizontal">
                <fieldset>
                    <p th:text="${message}">message here</p>
                    <table class="table table-striped">
                        <tr>
                            <td><input type= "hidden" th:field="${booking.id}"</td>
                        </tr>
                        <tr>
                            <th>Booker</th>
                            <td><input type="text" th:field="${booking.name1}"/>
                                 <ul th:if="${#fields.hasErrors('name1')}">
                                        <li class="error" th:each="err : ${#fields.errors('name1')}" th:text="${err}">Booker is invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Name 2</th>
                            <td><input type="text" th:field="${booking.name2}"/>
                                 <ul th:if="${#fields.hasErrors('name2')}">
                                        <li class="error" th:each="err : ${#fields.errors('name2')}" th:text="${err}">Name is invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Name 3</th>
                            <td><input type="text" th:field="${booking.name3}"/>
                                 <ul th:if="${#fields.hasErrors('name3')}">
                                        <li class="error" th:each="err : ${#fields.errors('name3')}" th:text="${err}">Name is invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Name 4</th>
                            <td><input type="text" th:field="${booking.name4}"/>
                                 <ul th:if="${#fields.hasErrors('name4')}">
                                        <li class="error" th:each="err : ${#fields.errors('name4')}" th:text="${err}">Name is invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Course Name</th>
                            <td><input type="text" th:field="${booking.courseName}"/>
                                 <ul th:if="${#fields.hasErrors('courseName')}">
                                        <li class="error" th:each="err : ${#fields.errors('courseName')}" th:text="${err}">Course name is invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td><input type="text" th:field="${booking.bookingDate}"/>
                                 <ul th:if="${#fields.hasErrors('bookingDate')}">
                                        <li class="error" th:each="err : ${#fields.errors('bookingDate')}" th:text="${err}">date is invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Time</th>
                            <td><input type="text" th:field="${booking.bookingTime}"/>
                                 <ul th:if="${#fields.hasErrors('bookingTime')}">
                                        <li class="error" th:each="err : ${#fields.errors('bookingTime')}" th:text="${err}">time is invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>

                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="button" type="submit">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    
      <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>