<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>
    <div class="container">
        <div class="form">
            <p th:text="${message}">message here</p>
            
            <label for="customerID">Customer ID: </label>
            <select id="customerID" name="idList" form="orderform">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
             <br></br><!--I know I don't need the </br> I was just tired of it giving me errors-->               
            <label for="item1">Welcome Baby Boy: </label>
            <select id="item1" name="boyList" form="orderform">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <br></br>
            <label for="item2">Welcome Baby Girl: </label>
            <select id="item2" name="girlList" form="orderform">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <br></br>
            <label for="item3">Very Special Delivery: </label>
            <select id="item3" name="specialList" form="orderform">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
             <br></br>
            <label for="item4">Small Stuffed Animal: </label>
            <select id="item4" name="smallList" form="orderform">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
             <br></br>
            <label for="item5">Medium Stuffed Animal: </label>
            <select id="item5" name="medList" form="orderform">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
             <br></br>
            <label for="item6">Large Stuffed Animal: </label>
            <select id="item6" name="largeList" form="orderform">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
             <br></br>
            <form th:object="${order}" action="/orders/addSubmit" th:action="@{/orders/addSubmit}" method="post" class="form-horizontal" id="orderform">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <td><input type= "hidden" th:field="${order.id}"</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td><input type="text" th:field="${order.orderDate}"/>
                                 <ul th:if="${#fields.hasErrors('orderDate')}">
                                        <li class="error" th:each="err : ${#fields.errors('orderDate')}" th:text="${err}">date is invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="button" type="submit">Submit</button>
                    </div>
                </fieldset>
            </form> 
           </div>  
        </div>
      <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>