<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>

        <div class="container">
            <h2 class="title is-2 has-text-centered" style="color: cyan">Flower Orders List&nbsp;<span th:text="${findNameMessage}"></span></h2>

            <div class="table-container">

                <a th:href="@{/orders/add}" th:text="Add" class="button"></a>
                <!--    add some code to show the bookings which are in the model-->

                
                <table class="table centered is-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">Order Id</th>
                            <th style="width: 150px;">Customer Id</th>
                            <th style="width: 150px;">Order Date</th>
                            <th style="width: 150px;">Welcome Baby Boy</th>
                            <th style="width: 150px;">Welcome Baby Girl</th>
                            <th style="width: 150px;">Very Special Delivery</th>
                            <th style="width: 150px;">Small Stuffed Animal</th>
                            <th style="width: 150px;">Medium Stuffed Animal</th>
                            <th style="width: 150px;">Large Stuffed Animal</th>
                            <th style="width: 150px;">Order Status</th>
                            <th style="width: 150px;">Total Cost</th>
                            <th style="width: 150px;">Amount Paid</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="order : ${orders}">
                            <td th:text="${order.id}"></td>
                            <td th:text="${order.customerID}"></td>
                            <td th:text="${order.orderDate}"></td>
                            <td th:text="${order.item1}"></td>
                            <td th:text="${order.item2}"></td>
                            <td th:text="${order.item3}"></td>
                            <td th:text="${order.item4}"></td>
                            <td th:text="${order.item5}"></td>
                            <td th:text="${order.item6}"></td>
                            <td th:text="${order.orderStatus}"></td>
                            <td th:text="${order.totalCost}"></td>
                            <td th:text="${order.amountPaid}"></td>

                            <td><a th:href="@{/orders/edit(id=${booking.id})}">Edit</a>&nbsp;<a
                                    th:href="@{/orders/delete(id=${booking.id})}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>






        </div>




        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>